html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Public Sans', sans-serif;
  line-height: 1.3;
  color: $neutral-grayish-blue;
  font-size: $font-med;
  font-weight: 300;

  @include breakpoint-up(large) {
    font-size: $font-lg;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

a,
a:visited,
a:hover {
  text-decoration: none;

  .btn {
    color: $neutral-white;
  }
}

h1 {
  font-size: $font-hero-header-mob;
  color: $primary-dark-blue;
  font-weight: 300;
  line-height: 1.15;

  @include breakpoint-up(large) {
    font-size: $font-hero-header-desktop;
  }
}

p {
  line-height: 1.5;
}

// Spacing
.container {
  max-width: 69.375rem;
  margin: 0 auto;

  &--pda {
    padding-top: 2.25rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
  }

  &--pdx {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  &--pd-y {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  &--pdt {
    padding-top: 2.25rem;
  }
  &--pdr {
    padding-right: 1.5rem;
  }
  &--pdb {
    padding-bottom: 2.25rem;
  }

  &--pdl {
    padding-left: 1.5rem;
  }
}

//Flexbox
.flex {
  display: flex;

  &-col {
    display: flex;
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-fs {
    align-items: flex-start;
  }
}

//Buttons
.btn {
  display: inline-block;
  padding: 0.875rem 2.1875rem;
  background: $gradient;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: $font-sm;
  color: $neutral-white;
  transition: opacity 300ms ease-in-out;

  &:hover {
    opacity: 0.75;
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}
